# HwBinder IPC from client to server
binder_call(hal_mokee_fod_client, hal_mokee_fod_server)

add_hwservice(hal_mokee_fod_server, hal_mokee_fod_hwservice)
allow hal_mokee_fod_client hal_mokee_fod_hwservice:hwservice_manager find;

# Allow binder communication with platform_app
binder_call(hal_mokee_fod, platform_app)
