# Allow FOD HAL service to be found
hal_client_domain(platform_app, hal_mokee_fod)

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_mokee_powershare)
